@import-normalize;
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  box-sizing: border-box;
  overflow-x: hidden;
}

.layout {
  display: flex;
  flex-direction: column;
  min-height: 102vh;
}

.main-content {
  flex: 1 0 auto;
  padding-bottom: 60px;
}

.nav-container {
  flex-shrink: 0;
}

:before,
:after {
  box-sizing: inherit;
}

embed,
iframe,
object {
  max-width: 100%;
}

img,
video {
  max-width: 100%;
  height: auto;
}

h1 {
  font-family: "Fustat", sans-serif;
  font-size: 4rem;
}

h2,
h3,
p {
  font-family: "Figtree", sans-serif;
}

h2 {
  font-size: 1.375rem;
}

p {
  font-size: 0.75rem;
}

.nav-container {
  position: relative;
}

.navbar-menu-constrained {
  max-width: 440px !important;
  margin-left: auto !important;
  margin-right: auto !important;
  left: 0 !important;
  right: 0 !important;
}

.gradient-border {
  background: linear-gradient(to bottom, #e0ffff, #e1ffe1);
}

.custom-accordion [data-slot="indicator"] {
  margin-right: 1rem !important;
}

.circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border-width: 4px;
  border-style: solid;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: "Figtree", sans-serif;
  max-width: 100%;
}

.clickable-div {
  transition: all 0.1s ease;
}

.clickable-div:active {
  transform: translateY(2px);
}

.yellow-circle {
  border-color: #fbcb72;
}

.green-circle {
  border-color: #4d8b67;
}

.gradient-text-dashboard {
  background: linear-gradient(90deg, #5fb474c9, #7fd9e9b0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}
