@import-normalize;
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  box-sizing: border-box;
  overflow-x: hidden;
}

:before,
:after {
  box-sizing: inherit;
}

embed,
iframe,
object {
  max-width: 100%;
}

img,
video {
  max-width: 100%;
  height: auto;
}

h1 {
  font-family: "Fustat", sans-serif;
  font-size: 4rem;
}

h2,
h3,
p {
  font-family: "Figtree", sans-serif;
}

h2 {
  font-size: 1.375rem;
}

p {
  font-size: 0.75rem;
}

.gradient-border {
  position: relative;
  border-radius: 5px;
  background: rgb(236, 255, 254);
  padding: 2px;
}

.gradient-border::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  background: linear-gradient(to bottom, #b0ceff, #499940b6);
  border-radius: 5px;
  z-index: -1;
}

.custom-accordion [data-slot="indicator"] {
  margin-right: 1rem !important;
}
